.upperHeader {
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  background: rgb(211, 11, 29);
  height: 31px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  text-align: center;
}

.upperHeader .emailContact {
  line-height: 31px;
  display: flex;
  align-items: center;
  padding-bottom: 2px;
  transition: 0.3s ease-in-out;
}

.upperHeader .emailContact:hover {
  opacity: 0.5;
  cursor: pointer;
}

.upperHeader .emailContact span {
  margin-left: 5px;
}

.upperHeader .socialMedia {
  line-height: 31px;
  display: flex;
  margin-left: 16px;
}

.upperHeader .socialMedia {
  list-style-type: none;
}

.upperHeader .socialMedia li {
  margin-right: 19px;
  transition: 0.3s ease-in-out;
}

.upperHeader .socialMedia li a {
  text-decoration: none;
  color: #fff;
}

.upperHeader .socialMedia li:hover {
  opacity: 0.5;
  cursor: pointer;
}  




@media (min-width: 768px) {
  .upperHeader {
    padding-left: 31px;
  }
}

@media (max-width: 767px) {
  .upperHeader {
    justify-content: center;
  }

  .upperHeader .socialMedia {
    display: none;
  }
}

