.lowerHeader {
  box-sizing: border-box;
  max-height: 100px;
  height: 100%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lowerHeader .headerLogo img {
  width: 100px;
}

.lowerHeader .headerMenu ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.lowerHeader .headerMenu ul li {
  margin-left: 28px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}