.patreonComponent {
  transform: skew(0deg, -4deg) translateY(-248px);
  background: #fff;
  max-height: 830px;
  height: 100%;
  padding-top: 98px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.patreonComponent h2 {
  transform: skew(0deg, 4deg);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
}

.patreonComponent p {
  transform: skew(0deg, 4deg);
  text-align: center;
  margin-top: 7px;
  font-weight: 400;
  font-size: 24px;
}

.patreonComponent .patreonSection {
  transform: skew(0deg, 4deg);
  margin-top: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.patreonComponent .patreonSection .patreonVideo {
  width: 553px;
  height: 311px; 
  transition: transform 300ms ease 0ms !important;
  overflow: hidden;
}

.patreonComponent .patreonSection .patreonVideo iframe {
  width: 100%;
  height: 100%;
}

.patreonComponent .patreonSection .patreonVideo:hover {
  transform: scaleX(1.01) scaleY(1.01) !important;
}

.patreonComponent .patreonSection div:nth-child(2) {
  transition: transform 300ms ease 0ms !important;
}

.patreonComponent .patreonSection .patreonImage:hover {
  transform: scaleX(1.01) scaleY(1.01) !important;
}

.patreonComponent .patreonSection .patreonImage a img {
  width: 80%;
}

@media (min-width: 982px) {
  .patreonComponent .patreonSection {
    max-width: 1140px;
    width: 100%;
  }

  .patreonComponent .patreonSection div:nth-child(2) {
    margin-right: 76px;
    margin-bottom: 20px;
  }


  .patreonComponent .patreonSection .patreonImage a img {
    width: 400px;
  }

} 

@media (max-width: 981px) {
  .patreonComponent .patreonSection {
    width: 80%;
    flex-direction: column;
  }

  .patreonComponent .patreonSection .patreonVideo {
    width: 100%;
    height: 441px;
  }

  .patreonComponent .patreonSection .patreonImage {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }

  .patreonComponent .patreonSection .patreonImage a img {
    width: 100%;
  }
}

@media (max-width: 868px) {
  .patreonComponent .patreonSection .patreonVideo {
    width: 100%;
    height: 360px;
    flex-direction: column;
  }

}

@media (max-width: 668px) {
  .patreonComponent .patreonSection .patreonVideo {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 568px) {
  .patreonComponent .patreonSection .patreonVideo {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 468px) {
  .patreonComponent .patreonSection .patreonVideo {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 368px) {
  .patreonComponent .patreonSection .patreonVideo {
    width: 100%;
    height: 150px;
  }
}


