.patreonComponent {
  transform: skew(0deg, -4deg) translateY(-248px);
  background: #fff;
  max-height: 830px;
  height: 100%;
  padding-top: 98px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.patreonComponent h2 {
  transform: skew(0deg, 4deg);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
}

.patreonComponent p {
  transform: skew(0deg, 4deg);
  margin-top: 7px;
  font-weight: 400;
  font-size: 24px;
}

.patreonComponent .patreonSection {
  transform: skew(0deg, 4deg);
  max-width: 1140px;
  width: 100%;
  margin-top: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.patreonComponent .patreonSection .patreonVideo {
  width: 553px;
  height: 311px; 
  transition: transform 300ms ease 0ms !important;
  overflow: hidden;
}

.patreonComponent .patreonSection .patreonVideo iframe {
  width: 100%;
  height: 100%;
}

.patreonComponent .patreonSection .patreonVideo:hover {
  transform: scaleX(1.01) scaleY(1.01) !important;
}

.patreonComponent .patreonSection div:nth-child(2) {
  margin-right: 76px;
  margin-bottom: 20px;
  transition: transform 300ms ease 0ms !important;
}

.patreonComponent .patreonSection .patreonImage:hover {
  transform: scaleX(1.01) scaleY(1.01) !important;
}

.patreonComponent .patreonSection .patreonImage a img {
  width: 400px;
}