.packagesComponent {
  background: rgb(179, 51, 43);
  max-height: 830px;
  height: 100%;
  padding: 25px 0 255px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  transform: skew(0deg, 4deg);
}


.packagesComponent h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 38px;
  transform: skew(0deg, -4deg);
  margin-top: 72px;
}

.packagesComponent .packagesSection {
  max-width: 1145px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  transform: skew(0deg, -4deg);
}

.packagesComponent .packagesSection .package {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.packagesComponent .packagesSection .package .iframe  {
  /* background-color: #000; */
  transition: all .5s ease-in-out;
  width: 360px;
  height: 201px;
  /* box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.3) !important; */
  overflow: hidden;
}

.packagesComponent .packagesSection .package .iframe iframe {
  width: 360px;
  height: 201px;
}

.packagesComponent .packagesSection .package .iframe:hover {
  transform: scaleX(1.01) scaleY(1.01)!important;
}

.packagesComponent .packagesSection .package .iframe:hover iframe{
  /* opacity: 0.6; */
}





.packagesComponent .packagesSection .package h3 {
  margin: 12px auto 0 auto;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
}

.packagesComponent .packagesSection .package p {
  margin-top: 10px;
  line-height: 28px;
  font-weight: 400;
  font-size: 15px;
}

.packagesComponent .packagesSection .package ul {
  margin-top: 1px;
  margin-left: 15px;
  line-height: 26px;
  font-weight: 400;
  font-size: 15px;
}


