.aboutUsComponent {
  max-height: 540px;
  height: 100%;
  padding: 107px 0 76px 0;
  display: flex;
  justify-content: center;
}

.aboutUsComponent >div {
  width: 537px;
  margin: 0 33px;
}

.aboutUsComponent .aboutUsDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.aboutUsDescription h2 {
  letter-spacing: 0.3px;
  font-size: 29px;
  line-height: 37px;
}

.aboutUsDescription p {
  margin-top: 5px;
  line-height: 30px;
  font-size: 17px;
}

.aboutUsDescription button {
  margin-bottom: 20px;
  width: 212px;
  height: 54px;
  background: rgb(17, 17, 17);
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  transition: .3s ease-in-out;
}

.aboutUsDescription button:hover {
  background: rgb(179, 51, 43);
  cursor: pointer;
}

.aboutUsComponent .aboutUsVideo {
  width: 540px;
  height: 300px;
  box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.3) !important;
  transition: transform 300ms ease 0ms !important;
  overflow: hidden;
}

.aboutUsComponent .aboutUsVideo iframe {
  width: 100%;
  height: 100%;
}

.aboutUsComponent .aboutUsVideo:hover {
  transform: scaleX(1.01) scaleY(1.01)!important;
}