.slider {
  pointer-events: none;
  background-color: #000;
}

.slider img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}

@media (min-width: 982px) {
  .slider {
    height: 790px;
  }
  
  .slider img {
    height: 790px;
  }
} 

@media (max-width: 981px) {
  .slider {
    height: 430px;
  }

  .slider img {
    height: 430px;
  }
}

@media (max-width: 768px) {
  .slider {
    margin-top: 110px;
    height: 210px;
  }

  .slider img {
    height: 210px;
  }
}